<DOCTYPE HTML>
<Html>
  <Head>
    <Title> Bienvenue </Title>
  </Head>
  <body>
    <h1> notre home page </h1>
    <a href="{{ path('oc_platform_view', { 'id':'0'}) }}"> Lien vers
      l'annonce d'id {{ '0' }}
  </body>
</Html>
